.AppGlass {
    display: grid;
    height: 95%;
    width: 97%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 11rem auto 20rem;
    background: #1d2b64; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
  
      #00b8b7,
      #170f49
    );
    background: linear-gradient(
      to right,
  
      #00b8b7,
      #170f49
    );
    /* background: linear-gradient(
        106.37deg,
        #1d2b64 29.63%,
        #315f59 51.55%,
        #f8cdda 99.85%
      ); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
  }
  
.container{
    height: 500px;
    width: 100%;
    padding: 0 0 0 60px;
    align-items: center;
}
.formContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.selectCategory{
    height: 35px;
    width: 400px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.categoryImage{
    height: 35px;
    width: 150px;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.productName{
    height: 35px;
    width: 400px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    outline: none;
}
.productTextArea{
    height: 60px;
    width: 400px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    outline: none;
}
.createProductButton{
    height: 35px;
    width: 400px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}