.MainDash{
    /* padding-top: 1rem; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    padding: 60px 60px 0 60px
}
.AppGlass {
    display: grid;
    height: 95%;
    width: 97%;
    border-radius: 2rem;
    background-color: var(--glass);
    overflow: hidden;
    grid-template-columns: 11rem auto 20rem;
    background: #1d2b64; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
  
      #00b8b7,
      #170f49
    );
    background: linear-gradient(
      to right,
  
      #00b8b7,
      #170f49
    );
    /* background: linear-gradient(
        106.37deg,
        #1d2b64 29.63%,
        #315f59 51.55%,
        #f8cdda 99.85%
      ); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
  }
  

@media screen and (max-width: 1200px) {
    .MainDash{
        justify-content:flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px)
{
    .MainDash{
        align-items: center;
    }
}
